<!DOCTYPE html>
<html>
  <head>
    <title>Gmailytics</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="BJRiOr9TPG50OTQk0T4MT5kbGOO6NXKWP_5cg_jVsrc" />
  </head>
  <body>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
